body {
	background-color: #464242;
}

header {
	width: 800px;
	margin: auto;
}
.social {
	float: right;
}

.social a {
	color: #FFFFF0;
	font-size: 20px;
	margin: 2px;
	/*remove underline*/
	text-decoration: none;
}

.title {
	color: #FFFFF0;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
}

.timeline {
	/*centering the box*/
	margin: auto;
	width: 50%;
}

.container {
	/*use flexbox to display info and image horizontally*/
	display: flex;
  	flex-direction: row;

  	color: #FFFFF0;
  	width: 800px;
  	height: 320px;
  	border: #FFFFF0 0.5px solid;
  	border-radius: 4px;
  	margin-bottom: 40px;
  	margin-top: 40px;
  	
}

.info {
	margin: 20px 30px 20px 40px;
}


p {
	font-family: 'Inconsolata', monospace;
}

img {
	border-radius: 4px;
}




 
