body {
	/*background-color: #464242;*/
	background-image: url("./images/pink-dust.png");
	color: #FFFFF0;
}

header {
	width: 800px;
	margin: auto;
}
.social {
	float: right;
	padding-top: 50px;
}

.social a {
	color: #FFFFF0;
	font-size: 20px;
	margin: 2px;
	/*remove underline*/
	text-decoration: none;
}

.title {
	font-weight: bold;
	text-align: center;
	/*padding-top: 50px;*/
	font-size: 70px;
}


/******* MAIN BODY *******/
.main-body {
	display: flex;
  	flex-direction: row;
  	text-align: center;
}

.main-profile {
	flex: 1;

	/*make the main-profile on the same level as container*/
	margin-top: 40px;
}
.timeline {
	/*centering the box*/
	/*margin: auto;*/

	margin-left: 120px;
	width: 50%;
	flex: 2;
}

.container {
	/*use flexbox to display info and image horizontally*/
	display: flex;
  	flex-direction: row;

  	width: 800px;
  	height: 320px;
  	border: #FFFFF0 0.5px solid;
  	border-radius: 4px;
  	margin-bottom: 40px;
  	margin-top: 40px;

  	background-color: #4f4848;
  	
}

.info {
	margin: 20px 30px 20px 40px;
}


p {
	font-family: 'Inconsolata', monospace;
}

img {
	border-radius: 4px;
}



.profile-image {
	border-radius: 50%;
	border: #FFFFF0 0.5px solid;
}




 
